.macros-container-calc {
    background-color: white;
    position: relative;
    width: 60%;
    height: 620px;
    left: 20%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: block;
}

.macros-container-calc p {
    text-align: center;
    font-weight: bold;
    margin-top: 1%;
}

.intro {
    display: grid;
}

.data1, .data2, .measurement-selection {
    position: relative;
    margin-bottom: 1%;
    text-align: center;
}

.row1 {
    display: flex;
    margin-top: 3%;
    padding: auto;
    width: 100%;
    justify-content: center;
    font-family: "Rubik", sans-serif;
}

.input-age, .gender-options, .input-height, .input-weight {
    margin-right: 5px;
    text-align: center;
}

.age-info, .gender-info, .height-info, .weight-info {
    margin-right: 5px;
}

.row2 {
    font-family: "Rubik", sans-serif;
    display: flex;
    margin-top: 2%;
    padding: auto;
    width: 100%;
    justify-content: center;
}

.enter-activity {
    width: 300px;
    margin-top: 2%;
}

.input-activity {
    margin-left: 2%;
}

.enter-goal {
    display: flex;
    align-items: center;
    width: 50%;
}

.enter-goal ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.enter-goal li {
    text-align: justify;
    display: flex;
    padding: 0;
    width: 130px;
}

.enter-goal input[type="radio"] {
    margin-right: 5px;
    text-align: center;
}

.goal-info {
    margin: 4%;
}

.macrosCalculation {
    position: relative;
    background-color: #23A6F0;
    color: white;
    width: 106px;
    height: 35px;
    border-radius: 5px;
    font-weight: bold;
    border-color: #23A6F0;
}

.macrosCalculation:hover {
    background-color: #0066EE;
}

.measurement-selection {
    margin-top: 2%;
}

.macros-calculation-result {
    font-family: "Rubik", sans-serif;
    width: 100%;
    position: relative;
    margin-top: 2%;
    margin-left: 2.5%;
}

.boxes-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.box {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5%;
    width: 150px;
    height: 110px;
    border: 2px solid #23A6F0;
}

.box i {
    font-size: 24px;
    color: #23A6F0;
}

.box p {
    margin-top: 10%;
}

.result-label {
    font-family: "Rubik", sans-serif;
    margin-bottom: 10px;
}

.info {
    font-size: 14px;
    margin-top: 5px;
}

.icon-calories {
    scale: 2;
    color: #ee4a09;
}

.icon-fats {
    scale: 2;
    color: #c8bf0c;
}

.icon-proteins {
    scale: 2;
    color: #808080;
}

.icon-carbs {
    scale: 2;
    color: #edb45e;
}