.contenedor-macros{
    background-color: white;
    position: fixed;
    width: 60%;
    height: 90%;
    left: 20%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.contenedor-macros p{
    text-align: center;
    font-weight: bold;
}

.intro{
    text-align: center;
}

.intro .dato1{
    display: block;
}

.fila1{
    display: flex;
    margin-top: 10%;
    padding: auto;
}

.fila2{
    display: flex;
    margin-top: 2%;
    padding: auto;
}

.introducir-actividad{
    margin-left: 2%;
    width: 330px;
    margin-top: 1%;
    
}

.input-actividad{
    margin-left: 2%;
}

.introducir-meta {
    display: flex;
    align-items: center; 
    width: 300px;
}

.introducir-meta ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.introducir-meta li {
   text-align: justify;
   display: flex;
   padding: 0;
   width: 130px;
}

.introducir-meta input[type="radio"] {
    margin-right: 5px;  
    text-align: center;
}

.info-meta {
    margin: 4%;

}


.resultado-calculo{
    position: absolute;
    left: 25%;
    top: 67%;
}


.calcular{
    background-color: #23A6F0;
    color: white;
    width: 106px;
    height: 35px;
    border-radius: 5px;
    font-weight: bold;
    top: 45%;
    border-color: #23A6F0;
}

.calcular:hover{
    background-color: #0066EE;
}


.calc-macros{
    position: absolute;
    top: 91%;
    right: 1%;
    background: white;
    color: #23A6F0;
    width: 229px;
    height: 38px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid #23A6F0
}

.calc-macros:hover{
    background-color: rgb(240, 237, 237);
}


.seleccion-medida{
    margin-top: 2%;
}


.icon-play{
    position: absolute;
    z-index: 9999;
    bottom: 3%;
    left: 96%;
    color: #23A6F0;
}

.resultado-calculo{
    left: 11%;
    top: 53%;
}

.contenedor-recuadros {
    display: flex;
}

.recuadro {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5%;
    width: 150px;
    height: 110px;
}

.recuadro i {
    font-size: 24px;
    
}

.info {
    font-size: 14px;
    margin-top: 5px;
}

/* .icon-grasas .icon-proteinas .icon-carbos .icon-calorias{
    font-size: x-large;
} */