.contenedor-macros{
    background-color: white;
    position: fixed;
    width: 60%;
    margin-top: 1%;
    height: 90%;
    left: 20%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.contenedor-macros p{
    text-align: center;
    font-weight: bold;
}

.intro{
    display: grid;
    
}

.dato1 .seleccion-medidas{
    position: relative;
    text-align: center;
}



.fila1{
    display: flex;
    margin-top: 10%;
    padding: auto;
    width: 100%;
    justify-content: center;
}

.introducir-edad, .introducir-genero, .input-altura, .input-peso{
    margin-right: 10px;
}

.info-edad, .info-genero, .info-altura, .info-peso{
    margin-right: 5px;
}

.fila2{
    display: flex;
    margin-top: 2%;
    padding: auto;
    width: 100%;
    justify-content: center;
}


.introducir-actividad{
    width: 330px;
    margin-top: 2%;
}

.input-actividad{
    margin-left: 2%;
}

.introducir-meta {
    display: flex;
    align-items: center; 
    width: 50%;
}

.introducir-meta ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.introducir-meta li {
   text-align: justify;
   display: flex;
   padding: 0;
   width: 130px;
}

.introducir-meta input[type="radio"] {
    margin-right: 5px;  
    text-align: center;
}

.info-meta {
    margin: 4%;

}

.calcularMacros{
    position: relative;
    background-color: #23A6F0;
    color: white;
    width: 106px;
    height: 35px;
    margin-top: 3%;
    border-radius: 5px;
    font-weight: bold;
    border-color: #23A6F0;
}

.calcular:hover{
    background-color: #0066EE;
}


.calc-macros{
    position: absolute;
    top: 91%;
    right: 1%;
    background: white;
    color: #23A6F0;
    width: 229px;
    height: 38px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid #23A6F0
}

.calc-macros:hover{
    background-color: rgb(240, 237, 237);
}


.seleccion-medida{
    margin-top: 2%;
}


.icon-playIMC{
    z-index: 9999;
    margin-left: 5%;
    color: #23A6F0;
}

.resultado-calculoMacros{
    width: 100%;
    position: relative;
    margin-top: 4%;
}

.contenedor-recuadros {
    display: flex;
    justify-content: center;
}

.recuadro {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5%;
    width: 150px;
    height: 110px;
    border: 2px solid #23A6F0
}

.recuadro i {
    font-size: 24px;
    color: #23A6F0;
}

.resultado-label{
    margin-bottom: 10px;
}

.info {
    font-size: 14px;
    margin-top: 5px;
}

.icon-calorias{
    scale: 2;
    color: #ee4a09;
}

.icon-grasas{
    scale: 2;
    color: #c8bf0c;
} 

.icon-proteinas{
    scale: 2;
    color: #808080;
}

.icon-carbos{
    scale: 2;
    color: #edb45e;
}
