.tutorial-overlay {
    position: absolute;
    z-index: 9999999999;
    background-color: white;
    border: 3px solid black;
    border-radius: 70%;
    clip-path: circle(70% at center);
}

.tutorial-popup {
    width: fit-content;
    padding: 20px;
    border-radius: 70%;
    clip-path: circle(70% at center);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flechaAvanzar,
.flechaVolver {
    background-color: white;
    color: black;
}

.paso0{
    position: absolute;
    width: fit-content;
    padding: 20px;
    border-radius: 70%;
    clip-path: circle(70% at center);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 15%;
    top: 35%;
}
.paso1{
    position: absolute;
    width: fit-content;
    padding: 20px;
    border-radius: 70%;
    clip-path: circle(70% at center);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 55%;
    top: 35%;
}


