.cards {
  display: flex;
  flex-direction: column;
  flex: 1;
  user-select: none;
}

.blur-content {
  display: flex;
  flex: 1;
  user-select: none;
}

.cards .macros-container {
  height: fit-content;
}

.cards.default .blur-content {
  filter: blur(5px);
  pointer-events: none;
}

.message-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-block p {
  font-size: 2rem !important;
  font-weight: 500;
  font-size: 1.2rem;
  color: #6c757d;
}

.message-block p a {
  font-weight: bold;
  background: linear-gradient(130deg, #4d96d6 0%, #2a4bc4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.lock-icon {
  font-size: 4rem;
}

.chart-container {
  width: 35%;
  height: 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.card-containerobj,
.macros-container,
.glass-ctr,
.chart-container,
.chart-container2 {
  cursor: pointer;
}

.chart-container canvas {
  width: 100% !important;
  height: auto !important;
}

.water-popup {
  text-align: center;
}

.chart-container p,
.chart-container2 p {
  text-align: center;
  font-weight: bold;
}

.chart-container2 {
  width: 35%;
  height: 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.chart-container2 canvas {
  width: 100% !important;
  height: auto !important;
}

.weight-popup,
.pulse-popup,
.water-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weight-form,
.pulse-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="date"],
input[type="number"] {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.button-space {
  margin-top: 10px;
}

.submit-button,
.cancel-button {
  background-color: #23a6f0;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.button-space {
  margin-top: 10px;
}

.card-container-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container-top div {
  margin: 0 20px 0;
}

.chart-container-main {
  display: flex;
  justify-content: center;
}
.chart-container-main div {
  margin: 0 20px 0;
  margin-bottom: 5%;
}

.blur-content .cards .card-container-top .card-containerobj {
  height: fit-content;
  padding: 3%;
}
