.cards,
.blur-content {
  display: flex;
  flex: 1;
  user-select: none;
}

.cards .card-containerobj {
  margin-left: 15%;
  margin-top: 5%;
}

.cards .macros-container {
  margin-left: 15%;
  margin-top: 5%;
  height: fit-content;
}

.cards.default .blur-content {
  filter: blur(5px);
  pointer-events: none;
}

.message-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-block p {
  font-size: 2rem !important;
  font-weight: 500;
  font-size: 1.2rem;
  color: #6c757d;
}

.message-block p a {
  font-weight: bold;
  background: linear-gradient(130deg, #4d96d6 0%, #2a4bc4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.lock-icon {
  font-size: 4rem;
  margin-bottom: 1rem;
}


.chart-container {
  width: 35%;
  height: 30%;
  margin-top: 20%;
  margin-bottom: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-left: -70%;
}


.chart-container canvas {
  width: 100% !important; 
  height: auto !important;
}

.chart-container p, .chart-container2 p {
  text-align: center;
  font-weight: bold;
}

.chart-container2 {
  width: 35%;
  height: 30%;
  margin-top: 20%;
  margin-bottom: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-left: 4%;
}


.chart-container2 canvas {
  width: 100% !important; 
  height: auto !important;
}