.h1-exercise {
  text-align: center;
}

.excercise-row {
  display: flex;
  justify-content: center; 
}



/* ================================================================= */
.exercise-container{
  display: flex;
  justify-content: flex-end;
  margin-right:3%;
  user-select: none;
}

.exercise-container details {
  position: relative;
  width: fit-content;
  margin-right: 1rem;
}

.exercise-container details[open] {
  z-index: 1;
}

.exercise-container summary {
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ddd;
  list-style: none;
}

.exercise-container summary::-webkit-details-marker {
  display: none;
}

.exercise-container details[open] summary:before {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

.exercise-container summary:after {
  content: '';
  display: inline-block;
  width: .5rem;
  height: .5rem;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  border-bottom-left-radius: 2px;
  transform: rotate(45deg) translate(50%, 0%);
  transform-origin: center center;
  transition: transform ease-in-out 100ms
}

.exercise-container summary:focus {
  outline: none;
}

.exercise-container details[open] summary:after {
  transform: rotate(-45deg) translate(0%, 0%);
}

.exercise-container ul {
  width: 100%;
  background: #ddd;
  position: absolute;
  top: calc(100% + .5rem);
  left: 0;
  padding: 1rem;
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  display: none;
}

.exercise-container details[open] ul {
  display: block;
}

.exercise-container li {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.exercise-container li:first-child {
  padding-top: 0;
}

.exercise-container li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

/* FAKE SELECT */

.exercise-container summary.radios {
  counter-reset: radios;
}

.exercise-container summary.radios:before {
  content: var(--selection);
}

.exercise-container input[type=radio] {
  counter-increment: radios;
  appearance: none;
  display: none;
}

.exercise-container input[type=radio]:checked {
  display: inline;
  --display: block;
}

.exercise-container input[type=radio]:after {
  content: attr(title);
  display: inline;
  font-size: 1rem;
  margin-right: 10px;
}

.exercise-container ul.list {
  counter-reset: labels;
  list-style: none;
  text-align: center;
}

.exercise-container label {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  justify-content: center;
}

.exercise-container label span {
  --display: none;
  display: var(--display);
  width: 1rem;
  height: 1rem;
  border: 1px solid #727272;
  border-radius: 3px;
}
