.pecho-excercises, 
.piernas.inferiores-excercises, 
.brazos.inferiores-excercises, 
.cuello-excercises, 
.hombros-excercises, 
.brazos.superiores-excercises, 
.piernas.superiores-excercises, 
.cintura-excercises, 
.espalda-excercises, 
.cardio-excercises {
  text-align: center;
}

.pecho-excercises .excercise-row,
.piernas.inferiores-excercises .excercise-row,
.brazos.inferiores-excercises .excercise-row,
.cuello-excercises .excercise-row,
.hombros-excercises .excercise-row,
.brazos.superiores-excercises .excercise-row,
.piernas.superiores-excercises .excercise-row,
.cintura-excercises .excercise-row,
.espalda-excercises .excercise-row,
.cardio-excercises .excercise-row {
  display: flex;
  justify-content: center; 
}


  