.card-containerobj{
    background-color: white;
    display: flex;
    width: 28%;
    height: 10%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: justify;
}


.objectives{
    width: 30%;
    margin-top: 3%;
}

.objective span{
    margin-right: 5px;
}
.objective svg{
    margin-right: 5px;
}

.card-containerobj span{
    font-size: 16px;
}
.card-containerobj p{
    font-weight: bold;
    font-size: 16px;
    margin: 2% 10% 10%;
}

.circularProgression{
    width: 12em;
    height: 12em;
    margin: 10px 52px 10px 32px;
}


.CircularProgressbar-text {
    dominant-baseline: middle;
    text-anchor: middle;
 }

.cards-container-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

