.contenedor-agua{
    background-color: white;
    position: fixed;
    width: 200px;
    height: 210px;
    top: 20%;
    left: 75%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: justify;
}

.contenedor-agua p{
    position: absolute;
    left: 40%;
    color: #085499;
    font-weight: bold;
}

.contenedor-agua .recomen-agua{
    position: absolute;
    left: 41%;
    top: 50%;
    color: white;
    font-weight: bold;
    z-index: 9999;
}

.icon-agua{
    position: absolute;
    left: 22%;
    top: 30%;
    width: 7em;
    height: 7em;
}
