.registro-box {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
    margin-bottom: 5%;
}

#listado-items {
    background-color: white;
    width: 30%;
    min-height: 18.9rem;
    box-shadow: 0 2px 5px #0067ee6b;
    text-align: justify;
    padding: 1%;
    margin: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#listado-items h2{
    margin: 0px 0px 10px;
}

.listado-items-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#listado-h1 {
    margin-left: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.1rem;
}

#listado-items button {
    bottom: 10%;
}

#listado-items ul { 
    list-style-type: none;
    height: 250px;
    overflow-y: scroll;
}

#listado-items ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 20px; 
    position: relative;
}

#listado-items ul li button{
    margin-right: 5%;
    height: 1%;
    width: 1%;
    display: flex;
    justify-content: center;
}

#listado-items ul li:before {
    content: "-";
    margin-right: 5%;
    color: #0067ee; 
    font-size: 1.5rem; 
}

.registro-box button {
    margin: auto;
    display: block;
}