/* header.css */

.header-menu {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar {
  border-radius: 15px;
  width: 45%;
  background-color: #0066EE;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.logo {
  /* Puedes agregar estilos específicos para el logo si es necesario */
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-links li {
  margin-right: 10%; /* Ajusta el espacio entre elementos del menú */
}

.nav-links a {
  text-decoration: none;
  color: #fff; /* Cambia el color del texto según tus preferencias */
  font-weight: bold;
  display: flex;
  align-items: center;
}
.nav-links a svg{
  margin-right: 8%;
}

.nav-links a:hover {
  color: #ffd700; /* Cambia el color al pasar el ratón sobre los elementos */
}
.nav-links li.active a {
  color: #ffd700;
}