.header {
    position: fixed;
    top: 7%;
    border-radius: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    background-color: #0066EE;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar::before {
    content: "";
    position: absolute;
    left: -200px;
    top: -15px;
    width: 90px; 
    height: 90px; 
    background-color: rgb(193, 185, 185); 
}

.navbar::after {
    content: "";
    position: absolute;
    left: 120%;
    top: -15px;
    width: 90px; 
    height: 90px; 
    background-color: rgb(193, 185, 185); 
    border-radius: 50%;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 2px 20px; /* Espacio entre elementos en pantallas grandes */
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: none;
}

/* Media Query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .nav-links li {
        margin: 2px 10px;
    }
}
