.mealLog-box {
  display: flex;
  flex-direction: column;
  gap: 6%;
  margin-bottom: 5%;
  align-items: center;
}

.food-card{
  font-size: 1.2rem;
}
  
.alimento-agregar { /*No lo quito por si se usa para algo en otro componente u otra página*/
  text-align: center;
  font-weight: bold;
  width: 100%;
}
  
.food-info {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}


.food-info p,
h3 {
  margin: 0;
  padding-left: 2%;
  padding-right: 2%;
}

.food-info p{
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.food-info h3 {
  font-size: 1.5rem;
  margin-right: 2%;
  height: fit-content;
}

.details-container {
  width: 100%;
  position: relative;
  bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.food-card span{
  font-weight: bold;
  margin-left: 1%;
}

.details-container-food {
  width: 99%;
  position: relative;
  bottom: 10px;
  left: 2px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-top: 3%;
  padding-bottom: 3%;
}

.details-container-food em{
  padding: 2.6%;
}

.result-container-food-details{
  position: fixed;
  width: 30%;
  top: 40%;
  left: 61%;
}

.expanded {
  border-color: #4caf50;
  margin-top: 20px;
}

.details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.details-container em {
  flex-basis: calc(50% - 5%);
  margin-bottom: 10px;
}
