.contenedor-peso{
    background-color: white;
    position: fixed;
    width: 500px;
    height: 300px;
    top: 50%;
    left: 14%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: justify;
}

.contenedor-peso p{
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: 0%;
    left: 4%;
}

.contenedor-peso span{
    font-size: 11px;
    position: absolute;
    top: 12%;
    left: 4%;
}

.icon-pesas{
    position: absolute;
    left: 25%;
    top: 7%;
    width: 2em;
    height: 2em;
}

.icon-grafica{
    position: absolute;
    left: 40%;
    top: 30%;
    width: 7em;
    height: 7em;
}
