.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter-container {
  flex: 1;  
}

.exercise-container-cards {
  display: flex;
  flex: 3; 
  justify-content: flex-start;
}


.result .excercise-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center; 

}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #f0f0f0;
}

.pagination .active button {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
