.value-resetPassword {
    border: none; 
    background-color: transparent; 
    outline: none; 
    height: 20px;
    width: 100%;
}

.photo-username-section-history img {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    border: 1px solid #000000;
}
  
.edit-icon-pass {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-left: -172px;
}
  
.upload-photo-section-pass:hover .edit-icon-pass {
    opacity: .7;
}

.tables-profile{
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.table-container-profile{
    width: 100%;
}

.information-box-profile{
    margin-bottom: 5%;
    width:100% ;
}

.icon-margin {
    margin-right: 10px;
}


.auth-container .input-signin.correct{
    border: 1px solid rgb(41, 176, 41) !important;
}

.fa, .fas {
    margin-right: 2%;
}

p.correct{
    color: rgb(41, 176, 41);
    margin: 8px 0px 20px;
    text-align: center;

}
p.correct-dup{
    color: rgb(41, 176, 41);
    margin: 8px 0px 20px;
}


.auth-container .input-signin.error{
    border: 1px solid red !important;
  }
  
  p.error{
    color: red;
    margin: 8px 0px 20px;
  }
  p.error-dup{
    color: red;
    margin: 8px 0px 20px;
  }

  .validation-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .validation-popup-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .validation-popup-content p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .validation-popup-content input{
    padding: 8px;
  }

  .passwordChangeButtons{
    display: flex;
    width: 40%;
    margin-top: 2%;
  }

  .passwordChangeButtons button{
    margin-right: 5%;
  }
