.add-food {
    margin-top: 5%;
    display: flex;
    text-align: justify;
    justify-content: center;
  }

  .add-food form{
    background-color: white;
    box-shadow: 0 9px 15px rgba(0, 0, 0, 0.8);
    padding: 1%;
    text-align: center;
    width: 50%;
  }

  .add-food div label {
    font-size: 20px;
    margin-right: 5%;
  }

  .add-food div input {
    height: 25px;
    width: 30%;
  }
