.footer {
    position: fixed;
    bottom: 1%;
    border-radius: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 1400px;
    height: 94px;
    background-color: #CBCBCB;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.details-container{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    display: flex;
}

.details-container p{
    margin-left: 10px;
    text-align: center;
    color: #4A93F4;
    font-weight: bold;
}

.copyR{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: -1px;
}
